@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/* // these are for the svg  */

.st0 {
	fill: #1a73e8;
}
.st1 {
	fill: #ea4335;
}
.st2 {
	fill: #4285f4;
}
.st3 {
	fill: #fbbc04;
}
.st4 {
	fill: #34a853;
}
.st5 {
	fill: #4caf50;
}
.st6 {
	fill: #1e88e5;
}
.st7 {
	fill: #e53935;
}
.st8 {
	fill: #c62828;
}
.st9 {
	fill: #fbc02d;
}
.st10 {
	fill: #1565c0;
}
.st11 {
	fill: #2e7d32;
}
.st12 {
	fill: #f6b704;
}
.st13 {
	fill: #e54335;
}
.st14 {
	fill: #4280ef;
}
.st15 {
	fill: #34a353;
}
.st16 {
	clip-path: url(#SVGID_2_);
}
.st17 {
	fill: #188038;
}
.st18 {
	opacity: 0.2;
	fill: #ffffff;
	enable-background: new;
}
.st19 {
	opacity: 0.3;
	fill: #0d652d;
	enable-background: new;
}
.st20 {
	clip-path: url(#SVGID_4_);
}
.st21 {
	opacity: 0.3;
	fill: url(#_45_shadow_1_);
	enable-background: new;
}
.st22 {
	clip-path: url(#SVGID_6_);
}
.st23 {
	fill: #fa7b17;
}
.st24 {
	opacity: 0.3;
	fill: #174ea6;
	enable-background: new;
}
.st25 {
	opacity: 0.3;
	fill: #a50e0e;
	enable-background: new;
}
.st26 {
	opacity: 0.3;
	fill: #e37400;
	enable-background: new;
}
.st27 {
	fill: url(#Finish_mask_1_);
}
.st28 {
	fill: #ffffff;
}
.st29 {
	fill: #0c9d58;
}
.st30 {
	opacity: 0.2;
	fill: #004d40;
	enable-background: new;
}
.st31 {
	opacity: 0.2;
	fill: #3e2723;
	enable-background: new;
}
.st32 {
	fill: #ffc107;
}
.st33 {
	opacity: 0.2;
	fill: #1a237e;
	enable-background: new;
}
.st34 {
	opacity: 0.2;
}
.st35 {
	fill: #1a237e;
}
.st36 {
	fill: url(#SVGID_7_);
}
.st37 {
	fill: #fbbc05;
}
.st38 {
	clip-path: url(#SVGID_9_);
	fill: #e53935;
}
.st39 {
	clip-path: url(#SVGID_11_);
	fill: #fbc02d;
}
.st40 {
	clip-path: url(#SVGID_13_);
	fill: #e53935;
}
.st41 {
	clip-path: url(#SVGID_15_);
	fill: #fbc02d;
}
